body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(to top, #FF220C, #F85E00, #004777, #4EFFEF );
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    background-image: url(../assets/Te-Amo-Deus.avif);
    background-repeat: repeat;
    padding: 40px;
    border-radius: 100px;
    box-shadow: 0 8px 10px rgba(1, 0.5, 1, 0.4);
    width: 380px;
    height: 360px;
    margin-top: 12px;
    align-items: center;
    justify-content: center;
}

.cursor {
    position: absolute;
    width: 1.5px; /* largura do cursor */
    height: 1.2em; /* altura do cursor */
    background-color: black; /* cor do cursor */
    animation: blink-animation 1s step-end infinite; /* animação do cursor */
   
    left: 172px;
    top: 9px;
}

@keyframes blink-animation {
    from, to {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

.visor {
    position: relative;
    display: inline-block;
    grid-column: 2 / 4;
    width: 100%;
    height: 50px;
    background-color: #37371F;
    border: 1px solid #d6d6d6;
    padding: 5px;
    margin-left: 12px;
    font-size: 24px;
    text-align: center;
    box-sizing: border-box;
}
#display {
    border: solid 1.9px black;
    width: 95%;
    height: 89%;
    font-size: 24px;
    overflow-x: auto; 
    white-space: nowrap;
    text-align: right;
}

.teclado {
    grid-column: 2 / 4;
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
   
}

.linha {
    display: flex;
    margin-bottom: 14px;
}

.botao {
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: 1.4px solid #9046CF;
    border-radius: 30px;
    cursor: pointer;
    font-size: 18px;
    text-align: center;
    margin-right: 12px;
}

.botao-operador {
    width: 50px;
    height: 50px;
    background-color:transparent;
    border: 1.5px solid #CC59D2;
    border-radius: 30px;
    cursor: pointer;
    color: black;
    font-size: 18px;
    text-align: center;
    margin-right: 10px;
}

.igual {
    width: 50px;
    height: 50px;
    background-color: transparent;
    color: white;
    border: 1.5px solid #ccc;
    border-radius: 30px;
    cursor: pointer;
    font-size: 18px;
    text-align: center;
    margin-right: 10px;
}

.botao:hover {
    background-color: #ddd;
}

.botao-operador:hover{
    background-color: #e9ecef;
}

.igual:hover {
    background-color: #1982c4;
}




